.container {
    min-height: 100%;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navbar {
    width: 100%;
    padding: .5rem;
    background-color: #0070f3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navContent {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  
  .logoContainer {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .logo {
    width: 100px;
    height: auto;
  }
  
  .navButtons {
    display: flex;
    gap: 10px;
  }
  
  .navButtons button {
    padding: 0.75rem 1.5rem;
    background-color: white;
    color: #0070f3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .navButtons button:hover {
    background-color: #005bb5;
    color: white;
  }
  
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    margin: 10px;
    margin-top: 50px;
    line-height: 1.15;
    font-size: 1.2rem;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
  }
  
  .form h3 {
    margin-bottom: 1rem;
  }
  
  .form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  }
  
  .form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #005bb5;
  }

  .restrictedAccess {
    text-align: center;
    margin-top: 20px;
    color: red;
  }
  
  
  